layout: index
language: ja
comments: false
---
p
 | 行政書士の変更により４月３０日以降、業務を停止させていただきます。
 | 手続きの都合により少し間が空くこととなってしまい、申し訳ございません。
 | 許認可などの紹介に関しまして、近隣の事務所を案内させていただきます。
 | なお、不動産業に関しましては別会社ですので、これまで通り営業を続けてまいります。